@import "tailwindcss";

@import url('https://googleapis.com');

:root {
  /* Перезаписываем основной sans-шрифт для всего проекта */
  --font-sans: 'Inter', sans-serif;
}

@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}


/* Стили для сброса и интеграции календаря */
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f8fafc; /* slate-50 */
    font-family: 'Tangerine', serif;
  font-size: 2rem;
  text-shadow: 1px 1px 1px #36046b;
}

/* Стили для кастомного инпута DatePicker */
.react-datepicker-wrapper {
  width: 100%;
  max-width: 300px;
}

.react-datepicker-wrapper input {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #cbd5e1; /* border-slate-300 */
  font-size: 1rem;
  background-color: #ffffff;
  outline: none;
  transition: all 0.2s;
}

.react-datepicker-wrapper input:focus {
  border-color: #2563eb; /* focus:border-blue-600 */
  box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.15);
}

